
body{
    font-family: 'Roboto',sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
}
h1,h2,h3,p {
       margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
 .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(100%);
    border: 0;
   }
   .burger-btn{
    display: flex;
   }
   .burger-icon{
    display: flex;
    padding: 16px;
   }
.main-nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style:none;
    gap:40px;
    margin:0;
    padding:0;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
    text-decoration: none;
    padding-top:24px;
    padding-bottom:24px;
    gap: 40px;
    display: block;
    transition:color 250ms cubic-bezier(0.4,0,0.2,1);
}
.nav-link:hover,
.nav-link:focus{
    color: blue;
}
.nav-black{
    color: #0b0b0c;
}

 .contact-list{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-link.current{
    position: relative;
    color: #404BBF;
    text-decoration: none;
}
.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}
 .contact-link:hover,
.contact-link:focus{
    color: #404bbf;
}
.contact-black{
    color: #434455;
}
.contact-link{
    color: #434455;
    transition:color 250ms cubic-bezier(0.4,0,0.2,1);
    text-decoration: none;
}
.contact-address{
    font-family:'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: #434455;
    font-style:normal;
    text-decoration:none;
    gap: 40px;
}
 .logo{
    color: #0b0b0c;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    text-decoration: none;
    margin-right:76px;
    display: flex;
    flex-grow: 1;
}
.logo-blue{
    color: #4D5AE5;
}
.logo-black{
    color: #0b0b0c;
}
 .logo-accent{
    color: #FFFFFF;
    display: inline;
    margin-left: 2px;
 }
 element.style{
    display: flex;
 }
 .container {
   margin: 0 auto;
  padding: 0 16px;
  max-width: 320px;
}
.hero-section{
    width: 320px;
    height: 432px;
    top: 56px;
    background: rgba(46, 47, 66, 0.7);

}
.hero-title{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
width: 216px;
height: 160px;
top: 128px;
left: 52px;
}

.order-service-btn {
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color:#4D5AE5;
        border: none;
         cursor: pointer;
         display: block;
         margin: 0 auto;
         min-width: 169px;
         height: 56px;
         border-radius: 4px;
         text-align: center;
         line-height: 1.5;
         transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
        }
 .order-service-btn:hover,
.order-service-btn:focus{
    background-color: #404BBF;
}

.feature-title{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
width: 288px;
height: 40px;
}

.feature-text{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
width: 288px;
height: 72px;
}

.icon-box{
    display: none;
}

.container{
width: 343px;
height: 696px;
gap: 72px;
}

.our-team-section{
width: 320px;
height: 2232px;
top: 1376px;
background-color: CLOUD;
columns: 2;
}

.section-title{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
width: 162px;
height: 40px;
top: 1472px;
left: 79px;


/* line-height: 40px; */ 
line-height: 1.4px;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
align-items: center;
}

.container{
    width: 264px;
    height: 1928px;
    top: 1584px;
    left: 28px;
    gap: 72px;
}

.team-title{
width: 134px;
height: 24px;
display: flex;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 40px; */ 
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;

}



.team-position{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.4px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
width: 75px;
height: 24px;
text-align: center;
}


.social-icon {
  display: flex;
  justify-content: center; 
  gap: 24px;  
  padding: 0; 
  fill: #f4f4fd;   
 }
.social-item{
    width: 40px;
    height: 40px;
    top: -0px;
}
.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  top: 12px;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-link-media {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill:#f4f4fd;
}

.social-link-media:hover,
.social-link-media:focus{
    background-color: #31d0aa; 
}

.social-link-media:hover,
.social-link-media:focus{
    background-color: #31d0aa; 
}

 .social-lists{
  gap: 24px;
  margin-top: 8px;
  padding: 0;
  list-style: none;
}
 
.team-member-card-transition{
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    color: #FFFFFF;
    background: #fff;
}

.portfolio-section{
  width: 736px;
  height: 1516px;
  top: 3704px;
  left: 16px;
}
.container{
 width: 288px;
height: 400px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}
.portfolio-title{
 font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.portfolio-list{
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;
    padding: 0;
    list-style: none;   
}
.portfolio-item{
    background-color: #FFFFFF; 
    box-sizing: border-box;
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
 .portfolio-caption{
    padding: 32px 16px;
    text-align: left;
    border: 1px solid #e7e9fc;
    border-top: none; 
    
}

.card-title{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
width: 172px;
height: 24px;
}
.card-text{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
width: 30px;
height: 24px;
}

.footer-section{
    width: 320px;
    height: 664px;
    background: #2e2f42;
    top: 6552px;
    border: 1px #FFFFFF;
}
.logo-blue{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
width: 44px;
height: 21px;

}
.logo-white{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
width: 71px;
height: 21px;
}

.footer-text{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 288px;
height: 72px;
top: 6688px;
left: 16px;
}

.footer-social {
  flex-direction: column;
  align-items: flex-start; 
  gap: 16px;
}
.footer-social-title{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
width: 96px;
height: 24px;
top: 6832px;
left: 112px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover
.social-link:focus{
    background-color: #404bbf;
}
.footer-list{
    display: flex;
    flex-wrap:wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding: 0;
    list-style: none;   
}
.footer-item{
   box-sizing: border-box;
} 
.footer-content{
    display: flex;
}

.footer-email {
  margin-left: 16px;
  margin-right: 16px;
}

.form-subscribe{
  display: flex;
  align-items: baseline;
  gap: 24px;
}

.subscribe-title{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
width: 75px;
height: 24px;
top: 6984px;
left: 122px;
}

.icon{
   margin: 16px;
}

.footer-input{
    border: 1px solid #fff;
border-radius: 4px;
width: 288px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
opacity: 0.3;
}

.footer-button{
    border-radius: 4px;
padding: 8px 24px;
width: 165px;
height: 40px;
background: #4d5ae5;
}

.footer-button:hover,
.footer-button:focus{
background: #404BBF;
}

.button-icon{
    margin-left: 16px; 
}

.text-input{
 margin-bottom: 8px;
 position: relative; 
   font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
width: 75px;
height: 24px;
top: 6984px;
left: 122px;
}
@media (min-width: 768px){
  .container {
  max-width: 768px;
  }
}
  @media (min-width: 1158px){
  .container {
    max-width: 1158px;
  padding: 0 15px;
  }
img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
header{
 border-bottom: 1px solid#e7e9fc ;
 background-color: #FFFFFF;
 box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list,
 .contact-address{
 display: none;
}
.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon{
    display: block;
     fill: #2f2f37;
}
.button{
    cursor: pointer;
}
@media (min-width: 768px){
  .burger-btn{
    display: none;
  }


  .nav-list{
    display: flex;
    list-style:none;
    gap:40px;
    margin:0;
    padding:0;
  }

  .contact-address{
    font-family:'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: #434455;
    font-style:normal;
    text-decoration:none;
    gap: 40px;
    display: block;
    
}

.contact-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
}
}
.contact-link{
    color: #434455;
    transition:color 250ms cubic-bezier(0.4,0,0.2,1);
    text-decoration: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
    text-decoration: none;
    padding-top:24px;
    padding-bottom:24px;
    gap: 40px;
    display: block;
    transition:color 250ms cubic-bezier(0.4,0,0.2,1);
}
.nav-link:hover,
.nav-link:focus{
    color: blue;
}
.nav-black{
    color: #0b0b0c;
}
.nav-link.nav-link.current{
    position: relative;
    color: #404BBF;
    text-decoration: none;
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}

.hero-section{
    width: 768px;
    height: 436px;
    background: rgba(46, 47, 66, 0.7);
}

.container{
    width: 780px;
    height: 450px;
    top: 72px;
}

.hero-title{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;

/* line-height: 60px; */ 
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
width: 496px;
height: 120px;
top: 184px;
left: 136px;
}

.order-service-btn {
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color:#4D5AE5;
        border: none;
         cursor: pointer;
         display: block;
         margin: 0 auto;
         min-width: 169px;
         height: 56px;
         border-radius: 4px;
         text-align: center;
         line-height: 1.5;
         transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
        }
 .order-service-btn:hover,
.order-service-btn:focus{
    background-color: #404BBF;
}
 .feature-list{
 display: flex;
 margin: 0;
 list-style: none;
 gap: 24px;
 columns: 2;
}

.feature-item{
    width: 264px;
  text-align: left;
  columns: 4;
    
} 
.feature-title{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 1.5px;
letter-spacing: 0.02em;
color: #2e2f42;
width: 264px;
height: 40px;
}

.feature-text{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5px;
letter-spacing: 0.02em;
color: #434455;
columns: 2;
width: 356px;
height: 72px;
}

.icon-box{
    display: none;
}


.section-title{
    color:#2E2F42 ;
    font-family: 'Roboto',sans-serif;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align:center;
    margin-bottom:72px;
    line-height: 1.11;
    font-weight: 700;
    width: 162px;
    height: 40px;
    top: 1108px;
    left: 316px;
}

.team-member-card{
    background-color: #FFFFFF; 
    text-align: center;
    box-sizing: border-box;
    
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  
}
.team-member-card-transition{
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
        color: #FFFFFF;
    background: #fff;
}
.team-title{
 font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;   
width: 134px;
height: 24px;
margin: 32px 0 8px;
}

.team-position{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
width: 144px;
height: 24px;
margin-bottom: 8px;
}

.social-item{
    width: 40px;
    height: 40px;
    columns: 2;
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: var(--cloud); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list  {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list a:hover,
.social-list a:focus {
  background-color: #404bbf;
}


 .portfolio-section{
    width: 736px;
    height: 1516px;
    top: 2332px;
    left: 16px;
    margin-left: 275px;
    margin-right: 275px;
 }
 .container{ 
    width: 356px;
    height: 420px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    top: 2444px;
    left: 16px;
    margin-right: 16px;
    margin-left: 16px;
    columns: 4;
 }
  .portfolio-item{
    background-color: #FFFFFF;
    box-sizing: border-box;
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    columns: 4;
}
.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.card-title{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
width: 118px;
height: 24px;
}

.card-text{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
width: 75px;
height: 24px;
}

.footer-section{
 width: 768px;
height: 456px;
top: 3944px;
background-color:#2E2F42 ;
display: flex;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logo-blue{
    color:#4D5AE5 ;
}

.logo-white{
    color:  #f4f4fd;
}

.footer-text{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 264px;
height: 72px;
top: 4080px;
left: 108px;
}

.footer-social {
  flex-direction: column;
  align-items: flex-start; 
  gap: 24px;
}

.footer-social-title{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
}

.footer-container{
    display: flex;
    columns: 4;
}
.footer-text-container{
    margin: 24px;
}

.footer-social-title{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
width: 96px;
height: 24px;
top: 4040px;
left: 396px;
}

.footer-container{
  display: flex;
    align-items: baseline;
}

.footer-text-container{
    width: 264px;
height: 112px;
top: 4040px;
left: 108px;
}
.social-icons-list {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 16px;
    list-style: none;
    justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover
.social-link:focus{
    background-color: #404bbf;
}

.footer-list{
    display: flex;
    flex-wrap:column;
    row-gap: 24px;
    column-gap: 264px;
    padding: 0;
    list-style: none;   
}

.footer-item{
    box-sizing: border-box;
}

.footer-content{
    display: block;
}

.footer-emaile{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;

/* line-height: 24px; */ 
line-height: 200%;
letter-spacing: 0.04em;
color: #fff;
opacity: 0.6;
margin-left: 16px;
}

.form-subscribe{
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.subscribe-title{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
width: 75px;
height: 24px;
top: 4224px;
left: 108px;
}

.icon{
   margin: 16px;
}

.footer-input{
    border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
opacity: 0.3;
}

.footer-button{
    border-radius: 4px;
padding: 8px 24px;
width: 165px;
height: 40px;
background: #4d5ae5;
top: 8px;
right: 24px;
bottom: 8px;
left: 24px;
gap: 16px;
}

.footer-button:hover,
.footer-button:focus{
background: #404BBF;
}
.button-icon {
 margin-left: 16px; 
}

.text-input{
   margin-bottom: 8px;
    position: relative; 
}

.input-item{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
  @media (min-width: 1158px) {
    .logo{
    color: #0b0b0c;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    text-decoration: none;
    margin-right:76px;
    display: flex;
    flex-grow: 1;
    }

  .contact-list{
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: row;
}
}
  }

  .contact-link{
    line-height: 1.5;
    letter-spacing: 0.04;
    padding: 24px 0;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.hero-section{
    width: 1440px;
    height: 600px;
    top: 71px;
    background: rgba(46, 47, 66, 0.7);
}

.hero-title{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;

/* line-height: 60px; */ 
line-height: 107%;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
width: 496px;
height:120px ;
top: 259px;
left: 472px;
}

.order-service-btn {
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color:#4D5AE5;
        border: none;
         cursor: pointer;
         display: block;
         margin: 0 auto;
         min-width: 169px;
         height: 56px;
         border-radius: 4px;
         text-align: center;
         line-height: 1.5;
         transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
        }
 .order-service-btn:hover,
.order-service-btn:focus{
    background-color: #404BBF;
}
.feature-title{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 1.6px;
letter-spacing: 0.02em;
color: #2e2f42;
width: 264px;
height: 24px;

margin-bottom: 8px;
padding-right: 8px;
display: flex;
}

.team-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
 }

.feature-text{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
width: 264px;
height: 72px;
margin-bottom: 8px;
display: flex;
}
.icon-box{
     display: flex;
    justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  /*margin: 0 auto;*/
  margin-bottom: 8px;
  border: 1px solid #8E8F99;
  margin: 8px;
  padding-bottom: 8px;

}

.container{
    width: 1128px;
    height: 224px;
    top: 791px;
    left: 156px;
}
 .feature-list{
 display: flex;
 margin: 0;
 list-style: none;
 gap: 24px;

}

.social-icon {
  display: flex;
  justify-content: center; 
  gap: 24px;  
  padding: 0; 
  fill: #f4f4fd;            
 }
.social-item{
    width: 40px;
    height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-link-media {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill:#f4f4fd;
}

.social-link-media:hover,
.social-link-media:focus{
    background-color: #31d0aa; 
}

.social-lists{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding: 0;
  list-style: none;
}

.portfolio-section{
    width: 1128px;
    height: 1000px;
    top: 2035px;
    left: 156px;
    background-color: WHITE;
}

.portfolio-title{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
width: 218px;
height: 40px;
top: 2035px;
left: 611px;
}
.portfolio-list{
    display: flex;
    flex-wrap:wrap;
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;
    padding: 0;
    list-style: none;   
}
.portfolio-item{
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3); 
    box-sizing: border-box;
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-wrap: wrap;
}
.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-caption{
    padding: 32px 16px;
    text-align: left;
    border: 1px solid #e7e9fc;
    border-top: none; 
    
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;

}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
   width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5; 
   display: flex;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--cloud, #f4f4fd);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .portfolio-thumb:hover .overlay-text {
  transform: translateY(0%);
}

.card-title{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
 color: #2e2f42;
width: 118px;
height: 24px;
margin: 8px;
}

.card-text{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
width: 75px;
height: 24px;
padding-bottom: 32px;
padding-left: 16px;
}

.footer-logo{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;   
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-blue{
    color: #4D5AE5;
}
.logo-white{
    color: #FFFFFF;
}
.footer-text{
    color: #f4f4fd; 
    font-family: 'Roboto',sans-serif; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;  
    max-width: 264px;
}

 .footer-social {
  flex-direction: column;
  align-items: flex-start; 
  gap: 16px;
}
.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1.5;
  font-family: "Roboto",sans-serif;
  letter-spacing: 0.02em;
  margin-bottom: 16px; 
 }
.footer-container{
    display: flex;
    align-items: baseline;
  }

.footer-text-container {
    margin-right: 120px;
}

.social-icons-list {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}


.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover
.social-link:focus{
    background-color: #404bbf;
}
.footer-list{
    display: flex;
    flex-wrap:wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding: 0;
    list-style: none;   
}
.footer-item{
   box-sizing: border-box;
} 
.footer-content{
    display: flex;
}

.footer-email {
  margin-left: 80px;
}
.form-subscribe{
  display: flex;
  align-items: baseline;
  gap: 24px;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1.5;
  font-family: "Roboto",sans-serif;
  letter-spacing: 0.02em;
  width: 264px;
 }
.icon{
   margin: 16px;
}


.footer-input{
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: transparent;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}
.footer-button{
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: flex;
justify-content: center;
align-items: center; 
cursor: pointer;
border: none;
bottom: 0;
}
.footer-button:hover,
.footer-button:focus{
background: #404BBF;
}
.button-icon {
 margin-left: 16px; 
}
.text-input {
    margin-bottom: 8px;
    position: relative;
}

.input-item{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
@media (min-width: 768px){
.mobile-menu{
    display: none;
}
}
.mobile-menu-container{
   width: 334px;
    height: 639px;
    background: #fff;
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobile-menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
}
.mobile-menu-nav{
    margin-bottom: auto;
    width: 151px;
    height: 200px;
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
color: #404bbf;
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
color: #2e2f42;

}
.mobile-menu-contacts{
    width: 193px;
    height: 72px;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #4d5ae5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #434455;
}
